.recipe{
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    }
    
    .image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    }
    